* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body,
p {
  margin: 0;
  padding: 0px;
}

.header {
  height: 90px;
  display: flex;
  background-color: darkcyan;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  z-index: 1;
  padding: 20px;
}

.navbar {
  background-color: darkcyan !important;
}

/* .profile-image {
  margin-top: 30px;
} */

/* .nav-container {
  margin-left: auto;
  display: flex;
}
nav {
  display: flex;
  gap: 20px;
  font-size: 24px;
}

li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: white;
  padding: 10px 16px;
  border-radius: 4px;
}

nav li a:hover {
  color: black;
  background-color: white;
} */

section {
  margin: 35px;
  padding: 5px;
}

button {
  padding: 0;
}

.btn.btn-primary {
  background-color: darkcyan;
  border: 0px darkcyan;
}

.resume {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 4px;
  background-color: white;
  border: none;
  margin-top: 20px;
}

.resume a {
  padding: 10px 16px;
  text-decoration: none;
  background-color: white;
  color: black;
  border: 1px solid;
  border-radius: 4px;
  transition: all 200ms ease-in;
}

.resume a:hover {
  background-color: darkcyan;
  color: white;
}

.projects {
  font-size: 18px;
  /* font-family: "Courier New", Courier, monospace; */
  /* max-width: 1150px; */
  /* margin: 0 auto; */
  align-items: center;
}

.project-list {
  list-style: none;
  display: flex;
  gap: 20px;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left: 0;
}

.custom-card {
  max-width: 500px;
  padding: 20px;
}

.source {
  display: flex;
  justify-content: center;
}

.custom-card h2 {
  text-align: center;
}

.projects a {
  color: #000;
}

.projects li {
  padding: 15px;
  border: 1px solid;
  border-radius: 4px;
  margin: 20px 10px;
  text-align: center;
  box-shadow: 0 4px 7px 0px rgb(0 0 0 / 30%);
  cursor: pointer;
}

.projects li:hover a,
.projects li:hover {
  color: darkcyan;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
}

.skills-list > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-list .icon {
  font-size: 70px;
  color: darkcyan;
}

.socialmedia {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.footer {
  text-align: center;
}

.lead {
  margin-bottom: 10px;
}

.socialmedia i {
  color: #000;
  font-size: 20px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .projects li {
    min-width: 300px;
  }
}
